* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(247, 242, 235);
  }

  header{
    display: inline-block;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    
  }

  .name_page {
    position: relative;
    font-size: 20px;
    display: inline-block;
    left: 29px;
    

    

  }
  
  .nav_menu{
    float: right;
    position: relative;
    top: -10px;
    
    padding: 0px 33px

  }
  .nav_menu a{
    color: #ffffff;
    text-decoration: none;

  }
  .nav_menu button{
    
    padding: 2px 8px;

    
  }
  .home{
    background-color: rgb(112,173,71);
    border-width: 1px;
    
    
  }
  .home:hover{
    background-color: rgb(95, 146, 60);
    
    
  }
  .about, .contact{
    background-color: rgb(68,114,196);
    border-width: 1px;
    
    
  }
  .about:hover, .contact:hover{
    background-color: rgb(45, 78, 136);

    
    
  }
  .image_home{
    position: absolute;
    top:70px;
    left: 0px;
    width: 100%;
    height: 25%;
    text-align: center;
    z-index: -100;

  }
  .image_home img {
    border-style: solid;
    border-width: 1px;
    max-width: 100%;
    max-height: 100%;
    width: 90.1%;
   
    
  }
  
  section{
    position: relative;
    padding: 20px;
    max-width: 100%;
    width: 100%;
  }

  .home_title{
    position: absolute;
    border-style: solid;
    border-width: 1px;
    left: 51px;
    top:116.5px;
    width: 90%;
    height: 30px;
    text-align: center;

  }

  .logo_image{
    position: absolute;
    top: 150px;
    left: 44px;
    
  }

  .home_events{
    position: absolute;
    line-height: 40px;
    top: 165px;
    left: 200px;
  }

  .about_info{
    position: absolute;
    top: 165px;
    left: 200px;
  }
  .contact_container{
    position: absolute;
    line-height: 25px;
    top: 165px;
    left: 200px;
  }

  main{
    display: flex;
    position: relative;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    padding-bottom:70%;
  
  }
  .rules_container{
    position: absolute;
    top: 165px;
    left: 200px;
    width: 70%;
    
  }

  .title2, .title3 {
    width: 90%;
    text-align:left
  }

  .list1{
    display: flex;
    position: absolute;
    left: 15px;

  }
  .list2{
    position: absolute;
    left: 15px;
    

  }
  .info_schedule{
    position: absolute;
    top: 165px;
    left: 200px;
    width: 70%;
    

  }

  .table_container{
    display: flex;
    position: absolute;
    top: 250px;
    left: 300px;
    align-items: center;
    justify-content: center;
  }
  .info{
    margin-bottom: 25px;
  }

  .footer_info{
    font-size: 18px;
    display: flex;
    position: absolute;
    top: 90%;
    left: 200px;
    padding-bottom: 2%;
    flex-wrap: wrap;
    width:78%;
    
  }
  .contact_Information{
    display: inline-flex;
  }
  .number{
    padding-right: 300px;
  }
  table {
    font-size: 15px;
    table-layout: fixed;
    border: 1px inset black;
    border-spacing: 0;


   
    }

th {
    background-color:rgb(68,114,196);
    color: white;
    align-items: center;
    padding:10px;
    border: 1px inset black;
    border-spacing: 0;


}

td {
    padding: 10px 25px;
    background-color: white;
    border: 1px inset black;
    border-spacing: 0;


}
th:hover{
  background-color: rgb(56, 94, 160);;

}



